video {
  opacity: 0;
  border: 0;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vw;
  outline: none;
  -webkit-box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.3);
}
.project-title {
  color: #75777c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-transform: uppercase;
}
.project-tech-title {
  color: #75777c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  padding-bottom: 0.2vw;
  text-transform: uppercase;
}
.project-tech {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  padding-bottom: 0.1vw;
  text-transform: uppercase;
}
.arrow-left {
  position: absolute;
  top: 390px;
  left: 40px;
  cursor: pointer;
  outline: none;
  visibility: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.arrow-left img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}
.arrow-right {
  position: absolute;
  top: 390px;
  right: 40px;
  cursor: pointer;
  outline: none;
  visibility: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.arrow-right img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}
.arrow-left-inactive {
  visibility: hidden;
}
.arrow-right-inactive {
  visibility: hidden;
}
.arrow-left-active {
  visibility: visible;
}
.arrow-right-active {
  visibility: visible;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .arrow-left {
    display: none;
  }
  .arrow-right {
    display: none;
  }
}
