.item-container {
  position: relative;
  width: 28vw;
}

.item-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  pointer-events: none;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.2);
}

.item-container span {
  display: block;
  text-align: left;
}

.item-client {
  color: #75777c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.9vw;
  padding-bottom: 0.1vw;
}

.item-project {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1vw;
}
