.section-container {
  position: relative;
  top: 3.5vw;
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.section-title {
  display: flex;
  color: #75777c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  padding-bottom: 0.8vw;
}
